@import url("https://fonts.googleapis.com/css2?family=Crushed&family=Oswald:wght@200..700&family=Paytone+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 7, 26;
  --background-end-rgb: 5, 7, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050719;
}

@media screen and (min-width: 520px) {
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
      0deg,
      rgba(8, 13, 42, 1) 0%,
      rgba(5, 7, 25, 1) 100%
    );
    background-size: cover;
    background-attachment: fixed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0 30px #05071a inset;
  box-shadow: 0 0 0 30px #05071a inset;
}

textarea:focus {
  box-shadow: none !important;
}

[data-testid="carousel"] > div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
[data-testid="carousel-item"] > div {
  margin-block: 0 !important;
}

.browser {
  position: absolute;
  left: 37%;
  top: 30%;
  width: 300px;
  height: 420px;
  transform: translate(-50%, -50%) perspective(1000px) rotateX(0deg)
    rotateY(-25deg) scale(0.8);

  /* Enable anti-aliasing */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.browser-0::before {
  content: " ";
  position: absolute;
  top: 2px;
  width: 11px;
  height: 370px;
  background: rgb(162, 162, 162);
  right: -9px;
  transform: perspective(500px) rotateX(0deg) rotateY(45deg);
}

.ipad {
  position: absolute;
  left: 47%;
  width: 175px;
  height: 300px;
  top: -135px;
}

.phone {
  position: absolute;
  top: -36px;
  left: 50%;
  width: 100px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border: 6px solid #333;
  z-index: 30;
}

@media screen and (min-width: 775px) {
  .browser {
    position: absolute;
    left: 41%;
    top: 31%;
    width: 420px;
    height: 562px;
    transform: translate(-50%, -50%) perspective(1000px) rotateX(0deg)
      rotateY(-25deg) scale(0.8);

    /* Enable anti-aliasing */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .browser-0::before {
    content: " ";
    position: absolute;
    top: 4px;
    width: 11px;
    height: calc(100% - 50px);
    background: rgb(162, 162, 162);
    right: -11px;
    transform: perspective(500px) rotateX(0deg) rotateY(45deg);
  }

  .ipad {
    position: absolute;
    left: 54%;
    top: -156px;
    z-index: 10;
    height: 400px;
    width: 225px;
  }

  .phone {
    position: absolute;
    top: -58px;
    left: 50%;
    width: 140px;
    height: 290px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border: 6px solid #333;
    z-index: 30;
  }
}

.btn-anim {
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-anim:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Slide in */
a.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
a.nav-link {
  overflow: hidden;
}

a.nav-link::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

a.nav-link:hover::after,
a.nav-link:focus::after {
  transform: translate3d(0, 0, 0);
}

/* buger menu */
.line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke-width: 5.5;
}
