@import url("https://fonts.googleapis.com/css2?family=Crushed&family=Oswald:wght@200..700&family=Paytone+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 7, 26;
  --background-end-rgb: 5, 7, 26;
}

body {
  color: white;
  background: #000;
  font-family: "Inter";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 0 30px #05071a inset;
  box-shadow: 0 0 0 30px #05071a inset;
}

textarea:focus {
  box-shadow: none !important;
}

.btn-anim {
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-anim:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* Slide in */
a.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 0.1em;
  background-color: #fff;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
a.nav-link {
  overflow: hidden;
}

a.nav-link::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

a.nav-link:hover::after,
a.nav-link:focus::after {
  transform: translate3d(0, 0, 0);
}

/* buger menu */
.line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke-width: 5.5;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-dots > li > button:before {
  color: white !important;
}

.slick-prev:before,
.slick-next:before,
.slick-arrow {
  display: none !important;
}
